<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Welcome to 1006!</title>
    <head>
    <body>
    <p>
    Welcome to the class page for ENGI1006 Spring 2020.
    </p>
    </body>
    <body bgcolor="sky blue">
    
    <table>
<thead>
  <tr>
    <th>Homework</th>
    <th>Description of task</th>
    <th></th>

  </tr>
</thead>
<tbody>
  <tr>
    <td>1a</td>
    <td>We discussed binary numbers and various <br>different types of 
    addition methods</td>
  </tr>
  <tr>
    <td>1b</td>
    <td>Our first programming assignment where<br>we created a basic main() 
    function and <br>also added various different functions for lists</td>
  </tr>
  <tr>
    <td>2a</td>
    <td>We learned about different sorting algorithms<br>and their associated 
    costs</td>
    <td></td>
  </tr>
  <tr>
    <td>2b</td>
    <td>A programming project that involved creating<br>a simulation model 
    and some basic machine <br>learning-esque algorithms</td>
  </tr>
  <tr>
    <td>3a</td>
    <td>We learned about recursion and implemented<br>some basic recursive 
    functions</td>
  </tr>
  <tr>
    <td>3b</td>
    <td>We learned about percolation theory and <br>implemented it in 
    python</td>
  </tr>
  <tr>
    <td>4</td>
    <td>We learned what classes were and implemented<br>some basic functions 
    in different classes</td>
  </tr>
  <tr>
    <td>Midterm</td>
    <td>We learned how to manipulate images and wrote <br>different 
    functions</td>
  </tr>
  <tr>
    <td>5</td>
    <td>We learned about SKLearn and used it to train our<br>dataset</td>
  </tr>
  <tr>
    <td>Final</td>
    <td>Making this website and learning about git!</td>
  </tr>
</tbody>
</table>