<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Meeting Day</th>
      <th>Professor</th>
    </tr>
    <tr>
      <th>Class</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Symbolic Logic</th>
      <td>M/W</td>
      <td>Tamar Lando</td>
    </tr>
    <tr>
      <th>Strategy Formulation</th>
      <td>Th</td>
      <td>Stephan Meier</td>
    </tr>
    <tr>
      <th>Game Theory</th>
      <td>T/Th</td>
      <td>Nima Haghpanah</td>
    </tr>
    <tr>
      <th>1006</th>
      <td>T/Th</td>
      <td>Tim Paine</td>
    </tr>
  </tbody>
</table>