<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Favorite</th>
      <th>Non-favorite</th>
    </tr>
    <tr>
      <th>Item</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NBA Team</th>
      <td>Boston Celtics</td>
      <td>LA Lakers</td>
    </tr>
    <tr>
      <th>Grocery Store</th>
      <td>Walmart</td>
      <td>Target</td>
    </tr>
    <tr>
      <th>Dining Hall</th>
      <td>JJs</td>
      <td>John Jay</td>
    </tr>
  </tbody>
</table>