<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello World! My name is Atharva. Click
    <a
    href = "/1006">here</a> to go to the 1006 class page!
    You can check out my class scheduler for Spring 2020
    <a
    href = "/myClasses">here!</a>
    
    </p>
    </body>
    <body bgcolor="teal">
<h2 align= center>A selfie!</br>
</br>
<img src = "{{url_for('static',filename = 'yay.jpg')}}" width="175" 
        height="200"></h2>
<font size=2>
</html>

I am a senior in
<a
href="https://www.college.columbia.edu">Columbia College</a>,
studying
<a
href="http://bulletin.columbia.edu/columbia-college/
departments-instruction/economics/#requirementstext">
Economics</a>. 
</br>
</html>

<h2>A list of favorites and non-favorites</h2>


<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Favorite</th>
      <th>Non-favorite</th>
    </tr>
    <tr>
      <th>Item</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NBA Team</th>
      <td><a
      href = "https://www.nba.com/teams/celtics">Boston Celtics</a> </td>
      <td><a
      href = "https://www.nba.com/teams/lakers">LA Lakers</a> </td>
    </tr>
    <tr>
      <th>Grocery Store</th>
      <td><a
      href = "https://www.walmart.com">Walmart</a> </td>
      <td><a
      href = "https://target.com">Target</a> </td>
    </tr>
    <tr>
      <th>Dining Hall</th>
      <td><a
      href = "https://dining.columbia.edu/content/jjs-place-0">JJs</a> </td>
      <td><a
      href = "https://dining.columbia.edu/content/john-jay-dining-hall-0">
      John Jay</a> </td>
    </tr>
  </tbody>
</table>

</body>
</html>
